<!-- Path to image generator -->
{% set resizewidth ='../../render/w1000-q95/' %}
{% set resizewidthretina ='../../render/w1000-q95/' %}

{% for image in page.images %}
  <div class="image">

    <!-- Images to URL at full Size -->
    <img src="{{ image.url }}" alt="{{ image.title }}" width="{{ image.width }}" height="{{ image.height }}" >

	<!-- Use image generator, strip content folder from image path -->
    <!-- <img src="../../public/images/loader.gif" data-src="{{ resizewidth }}{{ page.file_path |replace({'/content': ''}) }}/{{ image.file_name }}" alt="{{ image.title }}" data-src-retina="{{ resizewidthretina }}{{ page.file_path |replace({'/content': ''}) }}/{{ image.file_name }}" alt="{{ image.title }}" width="{{ image.width }}" height="{{ image.height }}"> -->

    {% if image.description %}
      <p class="asset-description">{{ image.description }}</p>
    {% endif %}
  </div>
{% endfor %}