{% include 'partials/header.html' %}
  <body>
    <div id="container" class="clearfix">
      <header id="header">
      <!-- Site Title. Logo -->
      {% include 'partials/title.html' %}
      <!-- Navigation Menu List -->
      {% include 'partials/navigation/navigation.html' %}
      </header>

      <div id="content-container">
        <div id="content" class="col eight">
          <!-- List of the Projects -->
          {% include 'partials/navigation/project-lists.html' %}
        </div>
      </div>
        <!-- Footer -->
        {% include 'partials/footer.html' %}
    </div>
    {% include 'partials/scripts.html' %}
  </body>
</html>
