{% include 'partials/header.html' %}
  <body>
    <div id="container" class="{{ page.id }} clearfix">
      <header id="header">
      <!-- Site Title. Logo -->
      {% include 'partials/title.html' %}
      <!-- Navigation Menu List -->
      {% include 'partials/navigation/navigation.html' %}
      </header>

      <div id="content-container">
        <div id="content" class="fade-in">
          <article class="page">
            <!-- Page Media Assets -->
            {% include 'partials/assets/images-noresize.html' %}
            {% include 'partials/assets/pdfs.html' %}
            <!-- Page Title -->
            <header><h1 class="title">{{ page.title }}</h1></header>
            <!-- Page Description -->
            <div class="page-content">{{ page.content }}</div>
          </article>
        </div>
      </div>
        <!-- Footer -->
        {% include 'partials/footer.html' %}
    </div>
    {% include 'partials/scripts.html' %}
  </body>
</html>