{% include 'partials/header.html' %}
  <body>
    <div id="container" class="{{ page.id }} clearfix">
      <header id="header">
      <!-- Site Title. Logo -->
      {% include 'partials/title.html' %}
      <!-- Navigation Menu List -->
      {% include 'partials/navigation/navigation.html' %}
      </header>

      <div id="content-container">
        <div id="content" class="fade-in one">
          <article class="project">
            <!-- Project Media Assets -->
            {% include 'partials/assets/media.html' %}
            <!-- Project Title -->
            <header><h1 class="title fade-in two">{{ page.title }}</h1></header>
            <!-- Project Description -->
            <div class="project-description fade-in two">{{ page.content }}</div>
            <!-- Project Meta -->
            <footer class="project-meta fade-in three">
              {% if page.date %} <!-- if date field exists -->
                <h4>Date</h4>
                <span>{{ page.date | date("F Y") }}</span>
              {% endif %}
              {% if page.client %}
                <h4>Client</h4>
                <span>{{ page.client }}</span>
              {% endif %}
              {% if page.role %}
                <h4>Role</h4>
                <span>{{ page.role }}</span>
              {% endif %}
              {% if page.keywords %}
                <h4>Tags</h4>
                <span>{{ page.keywords }}</span>
              {% endif %}
            </footer>
          <!--
          <div id="project-navigation" class="">
            {% if page.siblings %}
              {% include 'partials/next-page.html' %}
              {% include 'partials/previous-page.html' %}
            {% endif %}
          </div> -->
          </article>
        </div>
      </div>
        <!-- Footer -->
        {% include 'partials/footer.html' %}
    </div>
    {% include 'partials/scripts.html' %}
  </body>
</html>