.droptheheader {
    background: #000;
    color: #fff;
    height: 100px;
    position: relative;

    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: once;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 0.75s;

    -moz-animation-name: dropHeader;
    -moz-animation-iteration-count: once;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 0.75s;
}

.fade-in {
    opacity:0;  /* make things invisible upon start */

    -webkit-animation:fadeIn ease-in 1;
    /* call our keyframe named fadeIn, use animation ease-in and repeat it only 1 time */
    -webkit-animation-duration:1s;
    -webkit-animation-fill-mode:forwards;
    /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

    -moz-animation:fadeIn ease-in 1;
    -moz-animation-fill-mode:forwards;
    -moz-animation-duration:1s;

    animation:fadeIn ease-in 1;
    animation-duration:1s;
    animation-fill-mode:forwards;
}

.fade-in.half {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.fade-in.one {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

.fade-in.two {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay:1.2s;
    animation-delay: 1.2s;
}

.fade-in.three {
    -webkit-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

/* Animation Keyframes */

@-moz-keyframes dropHeader {
    0% {
        top: -100px;
    }
    100% {
        top: 0;
    }
}
@-webkit-keyframes dropHeader {
    0% {
        top: -100px;
    }
    100% {
        top: 0;
    }
}
@keyframes dropHeader {
    0% {
        top: -100px;
    }
    100% {
        top: 0;
    }
}

@-webkit-keyframes fadeIn {
    from { opacity:0; } to { opacity:1; }
}
@-moz-keyframes fadeIn {
    from { opacity:0; } to { opacity:1; }
}
@keyframes fadeIn {
    from { opacity:0; } to { opacity:1; }
}