/* Project Nav Arrows Disabled */
div#project-navigation {display: none; margin: 0px 0px 0px 20px; }
div#project-navigation p, div#gallery-navigation p { margin: 0px 0px 1px; }
div#nextprevious {display: none;}



@import 'animation';
@import 'vanilla-style';